h1{
    text-align: center;
}

table{
    border: 5px solid rgb(160, 0, 0);
    margin: 3vw auto 0;
}


#linha{
    border: 2px black solid;
}

#coluna{
    border: 2px black solid;
    background-color: grey;
}